<h1><title> Sprint Project 8: Data Analysis for Zuber Company </title> <h1>

<h3>Project Objective: </h3>

1. Identify the 10 most popular travel destinations.
2. Analyse the number of trips per transportation company.
3. Estimate the correlation between trip duration from Loop to O'Hare using a hypothesis test.

<h3> Analysis Process Description: </h3>

The dataset consists of three tables: moved_project_sql_result_01, moved_project_sql_result_04, and moved_project_sql_result_07. The tables will be initially imported and inspected. Missing values, duplicates, and data types will then be cleaned and corrected. Once the data is prepared, the analysis objectives will be addressed, and conclusions will be drawn.


<h3> Library and Data Import </h3>

Library import:

In [4]:
from scipy import stats as st
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

Data import:

In [5]:
table_1=pd.read_csv('moved_project_sql_result_01.csv')
table_2=pd.read_csv('moved_project_sql_result_04.csv')
table_3=pd.read_csv('moved_project_sql_result_07.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'moved_project_sql_result_01.csv'

Data exploration:

In [6]:
table_1.info()
print()
table_1.head()

NameError: name 'table_1' is not defined

It is observed that Table 1 has two columns named company_name and trips_amount, both of which contain no missing values. The data types in the table are appropriate for the content.

In [7]:
table_2.info()
print()
table_2.head()

NameError: name 'table_2' is not defined

It is observed that Table 2 has two columns named dropoff_location_name and average_trips, both of which contain no missing values. The data types are suitable for the values contained in the columns.

In [8]:
table_3.info()
print()
table_3.head()

NameError: name 'table_3' is not defined

It is observed that Table 3 has three columns named start_ts, weather_conditions, and duration_seconds. The start_ts column contains date values; however, the data type is incorrect and should be converted accordingly.

<h3>Inspection of duplicated values and data type correction</h3>

In [9]:
print(table_1.duplicated().sum())
print()
print(table_2.duplicated().sum())
print()
print(table_3.duplicated().sum())

NameError: name 'table_1' is not defined

In [10]:
duplicated_3=table_3.duplicated()
table_3['duplicated']=duplicated_3
duplicated_rows= table_3[table_3['duplicated']==True]
print(duplicated_rows.head(10))

NameError: name 'table_3' is not defined

It is observed that Table 1 and Table 2 do not contain any duplicate rows. In the case of Table 3, some rows appear to be duplicates, but this may be due to the incorrect data type. The data type of the start_ts column will be corrected, and a new check for duplicate rows will be performed.

In [11]:
table_3['start_ts']=pd.to_datetime(table_3['start_ts'], format='%Y-%m-%d %H:%M:%S')
table_3=table_3.drop('duplicated', axis=1)
table_3.info()
print()
table_3.head(10)

NameError: name 'table_3' is not defined

In [12]:
duplicated_3=table_3.duplicated()
table_3['duplicated']=duplicated_3
duplicated_rows= table_3[table_3['duplicated']==True]
print(duplicated_rows.head(10))
print()
print(table_3.duplicated().sum())

NameError: name 'table_3' is not defined

After applying the data type conversion, the number of duplicate entries decreased from 197 to 82. It is possible that more than one trip was recorded for the same timestamp. These will be marked as duplicate trips, and further analysis will determine whether including or excluding these records impacts the results.

<h3>Analysis of the Top 10 Destination Locations</h3>

Table 2 contains information on the average number of trips associated with each destination. The table will be sorted by average number of trips in descending order, and the top 10 rows will be selected to identify the most popular destinations.

In [13]:
top_10_destinations=table_2.sort_values(by='average_trips', ascending=False).head(10)
print(top_10_destinations)

NameError: name 'table_2' is not defined

In [14]:
top_10_destinations.plot(x='dropoff_location_name', y= 'average_trips',kind='bar', title="Average number of trips towards the ten most visited destinations",xlabel='Nombre del destino', ylabel='Número promedio de viajes')
plt.show()

NameError: name 'top_10_destinations' is not defined

From this analysis it was observer that the most popular destination is Loop with mor than tenthousand trips.

<h3> Analysis of Number of Trips per Company </h3> 

Table 1 contains information on the number of trips by company. The table will be sorted in descending order by number of trips to identify the 10 companies with the highest trip counts during the period from November 15 to 16, 2017. The describe method will be used to examine the distribution of trip numbers and identify any outliers.

In [15]:
top_10_companies=table_1.sort_values(by='trips_amount', ascending=False).head(10)
print(top_10_companies)

NameError: name 'table_1' is not defined

In [16]:
print(table_1.describe())

NameError: name 'table_1' is not defined

It is observed that the number of trips per company varies significantly, with a large disparity between the company with the highest number of trips and the one with the fewest.

In [17]:
top_10_companies.plot(x='company_name', y= 'trips_amount',kind='bar', title="Number of trips for the then most popular transpor companies",xlabel='Nombre de la compañia', ylabel='Número promedio de viajes')
plt.show()

NameError: name 'top_10_companies' is not defined

Notably, the most popular company recorded a substantially higher number of trips than the next nine most popular companies.

<h3> Hypotesis test </h3>

<h4> Objective: </h4> 
To estimate whether weather conditions affect the trip duration. A two-tailed test with an alpha level of 0.05 will be performed, as the goal is to assess whether there is a significant difference between the means. Trip duration data will first be divided into two groups: trips taken in good weather and those taken in rainy conditions. A t-test will then be used to evaluate whether there is a statistically significant difference between the mean trip durations of the two groups.

In [18]:
good_weather=table_3[table_3['weather_conditions']=='Good']
good_weather.head(10)
print()
rain_weather=table_3[table_3['weather_conditions']=='Bad']
rain_weather.head(10)

NameError: name 'table_3' is not defined

In [19]:
results= st.ttest_ind(good_weather['duration_seconds'],rain_weather['duration_seconds'])

print('valor p: ', results.pvalue)

if results.pvalue < 0.05:
    print("Nule hypothesis rejected: It is possible to conclude that there is a significative relationship between the weather and the trip duration")
else: 
    print('Nule hypothesis can not be rejected: there is no significative relationship between the weather and the trip duration')

NameError: name 'good_weather' is not defined

In [20]:
good_weather_avg=good_weather['duration_seconds'].mean()
print(good_weather_avg)
print()
rain_weather_avg=rain_weather['duration_seconds'].mean()
print(rain_weather_avg)

NameError: name 'good_weather' is not defined

<h2>Conclusions of the Analysis</h2>

The analysis identified the 10 most popular travel destinations and the 10 companies with the highest number of recorded trips during the period from November 15 to 16, 2017.

The most popular destination was Loop, with an average of over 10,000 trips to that location.

The most popular company was Flash Cab, with more than 19,000 trips recorded.

Finally, the analysis also revealed that rain significantly affects the duration of trips between Loop and O’Hare. The average trip duration in rainy conditions was found to be nearly twice as long as in good weather.